[

{permit, [
   %%
   %% RFC 7519  
   %%   4.1.1.  "iss" (Issuer) Claim
   {issuer, {env, "PERMIT_ISSUER", "permit"}},

   %%
   %% RFC 7519
   %%   4.1.3.  "aud" (Audience) Claim
   {audience, {env, "PERMIT_AUDIENCE", "permit"}},

   %%
   %% default list of claims
   {claims, {env, "PERMIT_CLAIMS", "uid=true"}}
]}

].