%%
%% cluster
{node, auth1, 'auth1@127.0.0.1'}.
{node, auth2, 'auth2@127.0.0.1'}.
{node, auth3, 'auth3@127.0.0.1'}.
{init, all_nodes, [{node_start, [{callback_module, spawner}]}]}.

%%
%% logs
{logdir, all_nodes, "/tmp/test/permit/"}.
{logdir, master,    "/tmp/test/permit/"}.

%%
%% suites
{alias,  permit, "./permit/"}.
{suites, all_nodes, permit, all}.
