{erl_opts, []}.

{deps, [
   datum,
   pipes,
   jwt,
   uid,
   
   {feta, ".*",
      {git, "https://github.com/fogfish/feta", {branch, master}}
   },

   {pts, ".*",
      {git, "https://github.com/fogfish/pts", {branch, master}}
   },

   {hash, ".*",
      {git, "https://github.com/fogfish/hash", {branch, master}}
   }
]}.

{profiles, [
   {test, [{deps, [meck]}]}
]}.

%%
%%
{plugins                , [coveralls]}.
{cover_enabled          , true}.
{cover_export_enabled   , true}.
{coveralls_coverdata    , "/tmp/test/permit/ct.coverdata"}.
{coveralls_service_name , "travis-ci"}.
