{erl_opts, [
]}.

{sub_dirs, []}.

{lib_dirs, ["deps"]}.
{cover_enabled, true}.

{deps, [
   {pipe, ".*",
      {git, "https://github.com/kfsm/pipe", master}
   },

   {feta, ".*",
      {git, "https://github.com/fogfish/feta", master}
   },

   {pts, ".*",
      {git, "https://github.com/fogfish/pts", master}
   },

   {datum, ".*",
      {git, "https://github.com/fogfish/datum", master}
   },

   {hash, ".*",
      {git, "https://github.com/fogfish/hash", master}
   }
]}.

