{erl_opts, [
   {parse_transform, lager_transform}
%   ,{d, 'CONFIG_DEBUG', true}
]}.

{sub_dirs, []}.

{lib_dirs, ["deps"]}.
{cover_enabled, true}.

{deps, [
   {lager, ".*",
      {git, "https://github.com/basho/lager", {tag, '2.0.3'}}
   }

  ,{thingz, ".*",
      {git, "ssh://git.cloud/mnt/vol1/git/thingz.git", {branch, master}}
   }

  ,{memcache, ".*",
      {git, "ssh://git.cloud/mnt/vol1/git/memcache.git", {branch, master}}
   }

]}.
