[

%%
%% Example of application configuration
{permit, [
   
   %%
   %% RFC 7519  
   %%   4.1.1.  "iss" (Issuer) Claim
   {issuer, {env, "PERMIT_ISSUER", "permit"}}

   %%
   %% secret key to sign the token
   %% (consider usage of aws kms or cdrt with cluster distribution)
  ,{secret, {env, "PERMIT_SECRET", "permit"}}

   %%
   %% default list of roles 
  ,{roles,  {env, "PERMIT_ROLES", "uid"}}
]}

].