[

%%
%%
{ambitz, [
   %%
   %% list of cluster nodes
   {seed,       ['a@127.0.0.1']}
]},

{memcache, [
   %%
   %% configuration of ring 
   {ring, [
      {type, ring}            %% ring management algorithms - chord | ring
     ,{m,      64}            %% ring modulo
     ,{q,    4096}            %% number of shards
     ,{n,       2}            %% number of replica
     ,{hash,  sha}            %% hashing algorithm
   ]}
]},

{thingz, [
   %%
   %% configuration of ring 
   {ring, [
      {type, ring}            %% ring management algorithms - chord | ring
     ,{m,      64}            %% ring modulo
     ,{q,    4096}            %% number of shards
     ,{n,       3}            %% number of replica
     ,{hash,  sha}            %% hashing algorithm
   ]}
]}

].